.container {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2rem;        
    font-size: 16px;
}

.errormessage{
    color: red;
}

.skillselect{
    width: 69%;
    height: 10rem;
}
.done{
    color:green;
}

.container h1 {
    color:#1273E2;
    font-weight: 700;
}

.goBackLink a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.job-listing-small{    
    padding: 5px;    
    border-radius: 1rem;
}

.job-title {
    text-align: center;
    color: #1273E2;    
    font-size: 34px;
    font-weight: 600;   
}
.searchButtonIcon {
    width: 80px;
    height: 30px;
    margin-top: 16px;
    color: white;
    background-color: #1273E2;
    border: none;
    border-radius: 5px;
}
.searchButtonIcon:hover {
    box-shadow: inset 0 0 0 50px #0d47a1;  
    color: white;
}
.searchInJobHistory {
    border-radius: 5px;
    margin-left: 3px;
    border-style: solid 1px;
}
.editProfileButton {
    width: auto;
    height: 30px;
    /* margin-top: 16px; */
    color: white;
    background-color: #1273E2;
    border: none;
    border-radius: 5px;
  
}
.editProfileButton:hover {
    box-shadow: inset 0 0 0 50px #0d47a1;  
    color: white;
}

.contactInfo {
    margin-top: 5px;    
}

.profile-header p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 1rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body{
    font-size: 16px;
}

.cardhover:hover {
    border-color:#0d47a1; 
    
}

.card-body h1{
    text-align: center;
    color: #1273E2;
    font-size: 34px;
    font-weight: 700;
}

.form-group{
    margin-bottom: 15px;     
}

.button {
    text-align: center;
    margin-bottom: 20px;    
}

.btn .btn-primary {
    border-radius: 5px;     
    border-style: solid;
    background-color: #1273E2;  
    border: none;
    color: white;
    box-shadow: inset 0 0 0 0 #1273E2;
}
.btn .btn-primary:hover {
    box-shadow: inset 0 0 0 50px #0d47a1;  
    color: white;
}

.search-button {
    border-radius: 5px;
    width: 80%;
    height: 100%;  
    border-style: solid;
    background-color: #1273E2;  
    border: none;
    color: white;
    box-shadow: inset 0 0 0 0 #1273E2;
}

.search-button:hover {
    box-shadow: inset 0 0 0 50px #0d47a1;   
}

#searchText {
    height: 30px;
}

/* @media only screen and (max-width: 990px) {
    img {
        max-width: 100%;
        height: auto;            
    }
    
} */
@media only screen and (max-width: 330px) {
    img {
        max-width: 80%;
        height: 80%;            
    }
    .profile-tab {
        margin-top: 10px;
    }
    
}

@media only screen and (max-width: 600px) {
    .search-button {
        width: 100%;
        height: 100%;
    }
    .applicantProfile {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  
    .contactInfo {
        margin-top: 2rem;
    }
    img {
        max-width: 100%;
        height: auto;            
    }
    .profile-tab {
        margin-top: 10px;
    }
}

.db-header {
    margin-left: 50px;
    margin-top: 100px;
}

.card-title {
    font-size: 18px;
    font-weight: 600; 
}

.card1 {
    background-color: #a9def9;
    border-top-right-radius: 0.33rem; 
    border-top-left-radius: 0.33rem;
    
}
.card2 {
    background-color: #d0f4de;
    border-top-right-radius: 0.33rem; 
    border-top-left-radius: 0.33rem;
}
.card3 {
    background-color: #fcf6bd;
    border-top-right-radius: 0.33rem; 
    border-top-left-radius: 0.33rem;
}
.card4 {
    background-color: #f9bec7;
    border-top-right-radius: 0.33rem; 
    border-top-left-radius: 0.33rem;
}
.card5 {
    background-color: #b8c0ff;
    border-top-right-radius: 0.33rem; 
    border-top-left-radius: 0.33rem;
}

.footer1 {
   background-color: #a9def9; 
}
.footer2 {
    background-color: #d0f4de;   
}
.footer3 {
    background-color: #fcf6bd;  
}
.footer4 {
    background-color: #f9bec7;   
}
.footer5 {
    background-color: #b8c0ff;   
}
.box-container {
    margin-top: 50px;   
    margin-left: 50px;
    padding-right: 50px;
}
.col-xl-2{
    width: 20%;
}

.company-image {
    width: 120%;
    height: auto;
    position:relative;
}

.candidate-jobapplication:hover {
    border-color: white;
}


